body {
    background-color: #35322e;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 40px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main,
nav {
    background-color: rgb(247, 244, 232);
    border-radius: 10px;
    width: 1000px;
}

main {
    text-align: center;
    padding: 20px 0;
}

nav {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 10px;
    letter-spacing: 1px;
}

nav li {
    font-size: 20px;
    padding: 10px 20px;
    list-style: none;
    text-transform: uppercase;
    text-align: center;
}

nav a {
    color: black;
    text-decoration: none;
}

a {
    color: #C06D2E;
}

h1 {
    color: white;
    font-size: 40px;
    margin: 0 0 20px 0;
}

p {
    margin: 10px;
}

#dogBreed-select,
input {
    font-size: 18px;
    padding: 10px 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 10px;
    margin: 10px;
    border: black 1px solid;
    background-color: white;
}

button {
    font-size: 18px;
    padding: 10px 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(192, 109, 46);
    border: none;
    color: white;
    font-weight: 600;
    border-radius: 10px;
    margin: 10px;
    box-shadow: 0 5px rgb(154, 77, 41);
}

button:hover {
    background-color: rgb(183, 103, 42);
}

button:active {
    background-color: rgb(183, 103, 42);
    transform: translateY(2px);
}

img {
    height: auto;
    width: auto;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    border-radius: 10px;
    border: white 5px solid;
}

.container {
    max-width: 1000px;
    padding: 20px 0 100px;
    color: white;
}

.image {
    margin-top: 25px;
    height: 500px;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#dogBreedList li,
#dogBreedPurpose li {
    margin: 0 20px 10px;
    line-height: 1.5;
}

li::marker {
    color: #B7672A;
}

#dogBreedList {
    column-count: 3;
}

#dogBreedPurpose {
    column-count: 2;
}